.wedding-reviews {
  overflow: hidden;
  padding: 0 48px;

  .swiper {
    overflow: visible;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    position: absolute;
  }
  .swiper-button-prev {
    left: -50px !important;
  }
  .swiper-button-next {
    right: -50px !important;
  }
  .swiper-pagination-bullet {
    background: #000;
    opacity: 0.4;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .wedding-reviews {
    padding: 0;
    .swiper {
      overflow: hidden;
    }
    .swiper-slide {
      margin-right: 30px !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}
