.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 70px;
  margin: auto;
  gap: 10px;
  text-align: left;

  @media (max-width: 900px) {
    padding-top: 0px;
  }

  &__text {
    flex: 1;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__image {
    width: 500px;
    @media (max-width: 900px) {
      width: 80%;
      margin-bottom: 20px;
    }
  }

  &__signature {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-style: italic;
  }
}
