.navbar {
  color: white;
  overflow: hidden;
  transition: height 0.4s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &--visible {
    height: auto; //90px;
  }

  &--invisible {
    height: 0px;
  }

  &__container {
    background-color: #535931;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 160px;
    margin-top: 10px;
    cursor: pointer;
  }

  &__left,
  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__right {
    justify-content: end;
  }

  &__mobile-toggle {
    display: none;
    cursor: pointer;
  }

  &__mobile-menu {
    display: none;
  }

  /* ========================= */
  /* MOBILE VERSION */
  /* ========================= */

  @media (max-width: 900px) {
    &__container {
      padding: 10px 20px;
    }

    &__left,
    &__right {
      display: none;
    }

    &__mobile-toggle {
      display: block;
      color: white;
      z-index: 101;
    }

    &__logo {
      width: 140px;
      margin: 0 auto;
    }

    &__mobile-menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: #535931;
      padding: 20px;
      align-items: center;
      animation: slideDown 0.3s ease forwards;
    }
  }
}

/* Animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
