.page-layout {
  text-align: center;

  &__content {
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 100px;
    min-height: calc(100vh - 120px);

    @media (max-width: 900px) {
      padding: 120px 30px 40px;
    }
  }
}
