.photo-gallery {
  padding: 30px 0px;
  overflow: hidden;

  &__box {
    transition:
      opacity 2500ms ease-in-out,
      transform 2500ms ease-in-out;

    &--visible {
      opacity: 1;
      transform: translateY(0);
    }
    &--invisible {
      opacity: 0;
      transform: translateY(12px);
    }
  }

  &__image {
    border-radius: 4px;
    display: block;
    width: 100%;
  }
}
