.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  &--limited {
    padding: 50px 0px 100px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 100%;
    max-width: 1000px;
    margin-top: 40px;
  }

  &__description {
    margin-bottom: 20px;
  }
}
