:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #535931;
  background-color: #d7dcbc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  font-family: "Questrial", sans-serif;
}

.HelloJanuaryCyrillicScript {
  font-family: HelloJanuaryCyrillicScript !important;
}
.HelloJanuaryCyrillicRegular {
  font-family: HelloJanuaryCyrillicRegular !important;
}
.HelloParisSansExtraLight {
  font-family: HelloParisSansExtraLight !important;
  line-height: 28px !important;
}
.HelloParisSansLight {
  font-family: HelloParisSansLight !important;
  line-height: 28px !important;
}
.HelloParisSansRegular {
  font-family: HelloParisSansRegular !important;
  line-height: 28px !important;
}
.HelloParisSansMedium {
  font-family: HelloParisSansMedium !important;
  line-height: 28px !important;
}
.HelloParisSansBold {
  font-family: HelloParisSansBold !important;
  line-height: 28px !important;
}
